:root {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: auto;
  background: linear-gradient(to right, rgb(168, 203, 109), rgb(251, 104, 97));
}

h1 {
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .input-list {
    flex-direction: column;
  }
  .input-box {
    flex-direction: column;
  }
}
